<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wimso.cervatify">

    <uses-permission android:name=
        "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name=
        "android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cervatify"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGOhcLV43nyg-7dd0UU6JyGArF0kTLPTM" />

        <activity android:name="com.wimso.cervatify.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wimso.cervatify.ActActivity" />
        <activity android:name="com.wimso.cervatify.MapsActivity" />

    </application>

</manifest>